/* .toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  left: 12rem;
  background-color: #FFF;
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: -1px 11px 25px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 11px 25px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 11px 25px -9px rgba(0,0,0,0.75);
}

.toggle-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.collapsed {
  left: 4rem !important;
}
 */